<!DOCTYPE html>
<html>
<head>
    <title>Instructions</title>
</head>
<body>
    <h1>Instructions</h1>

    <p> To Chat with other users, click the button below</p>
    <a href="/set-username"><button>Chat</button></a>

    <p> To Upload your files publically to server</p>
    <a href="/upload"><button>Upload</button></a>

    <p>To see all the files in the upload folder, click the button below</p>
    <a href="/files"><button>See Files</button></a>
    <!-- Note added for the user -->
    <p>To download a file, replace 'filename.ext' in the URL with the actual filename and extension.</p>
    <a href="/download/filename.ext"><button>Download</button></a>
</body>
</html>